body {
  font-family: 'Playfair Display', serif;
}

p {
  font-family: 'Archivo', sans-serif;
}

.splash {
  background-color: #006036;
  overflow: hidden;
}

.carte {
  color: #fff;
  background-color: #006036;
  border-style: dotted;
  border-width: 0.1rem;
  border-color: #fff;
  border-radius: 2rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.badge {
  margin-left: 0.5em;
}

.center {
  text-align: center;
}

hr.light {
  color: #fff;
  background-color: #fff;
}

/* anim */

img.splash {
  width: 500px;
  margin: 0 auto;
  animation-name: splashanimX;
  animation-duration: 2s;
  transition-timing-function: ease-in;
}

.splashtree {
  width: 140px;
  height: 275px;
  margin: 0;
  padding: 0;
  float: right;
  overflow:hidden;
  opacity: 0;
  animation-name: splashanimY;
  animation-duration: 0.5s;
  animation-delay: 1.15s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in;
}

.splashtree2 {
  width: 120px;
  height: 250px;
  margin: 0;
  padding: 0;
  float: right;
  overflow:hidden;
  opacity: 0;
  animation-name: splashanimY;
  animation-duration: 0.5s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in;
}

.splashtree3 {
  width: 160px;
  height: 300px;
  margin: 0;
  padding: 0;
  float: right;
  overflow:hidden;
  opacity: 0;
  animation-name: splashanimY;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in;
}

@keyframes splashanimY {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes splashanimX {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  color: #267F58;
}

h2 {
  padding: 0.5rem 0 0.5rem 1rem;
  color: #fff;
  background-color: #006036;
}

.img-fluid img {
   max-width:100%;
   border
}


/* bootstrap modified classes */
.border-bottom {
  border-width: 2rem;
}
